@use 'src/styles/vars' as v;
@use "sass:math";

.changepasswordform {
    margin: 0 v.$gutter v.$gutter;
    padding: math.div(v.$gutter, 2) v.$gutter;
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3); 
     -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3); 
     -moz-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding: math.div(v.$gutter, 4);
    align-items: center;

    &__send {
      display: block;
      padding: math.div(v.$gutter, 3);
      background-color: v.$primary-color;
      border: none;
      margin-left: 10px;
      border-radius: 5px;
      color: white;
    }
    &__cancel {
      display: block;
      background-color: v.$red-color;
      padding: math.div(v.$gutter, 3);
      border: none;
      font-size: 0.9rem;
      border-radius: 5px;
      color: white;

    }
  }
}
