@use 'src/styles/vars' as v;

.containButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;

  &__name {
    display: flex;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1rem 0 1.5rem;
  }
  
  &__button {
    display: flex;
    flex-direction: column;
    height: 200px;
  }
}

.button {
  margin-bottom: 20px;
  // min-width: 350px;
  // width: 100%;
  color: white;
  font-weight: bold;
  background-color: v.$primary-color;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 8px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
  padding: 10px 10px 10px 10px; 
}





