@use 'src/styles/vars' as v;

.childs {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem;
  margin: 0 auto;
  padding-bottom: 5rem;


  &__child {
    
    
    &__girl {
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0;
    width: 48%;
    border: 1px solid v.$violet-color;
    border-radius: 5px;
    // padding: 5px;
    padding: 1.1rem 0.5rem;
    //background-color: rgba(223, 121, 138, 0.452);
    background-color: #8e6aa83d;

    }
    
    &__boy {
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0;
    width: 48%;
    border: 1px solid v.$primary-color;
    border-radius: 5px;
    // padding: 5px;
    padding: 1.1rem 0.5rem;
    background-color: #83c9b63d;
    }

    &__name__girl {
      font-size: 1.3rem;
      color: v.$violet-color;

    }
    &__name__boy {
      font-size: 1.3rem;
      color: v.$primary-color;

    }

    &__infos {
      text-align: center;

      &__girl {
        color: v.$violet-color;
      }

      &__boy {
        color: v.$primary-color;
      }
    }

    &__createrecapbutton {
      display: flex;
      margin: 1rem;
      width: fit-content;
      background-color: v.$bg-color;
      border: none;
      padding: 0.6rem;
      border-radius: 5px;
      color: white;
      font-size: 1em;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
      -webkit-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
      -moz-box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3); 
    }
    &__createrecapbutton:hover {
      background-color: v.$hover-color;
    }
  } 
  
}
