$gutter: 2rem;
$bg-color-card: #fff;
$bg-color: #e6c54e;
// $primary-color: #83c9b6;
$primary-color: #7fc2b0;
$secondary-color: #00c4cc;
$rose-color: #ffa4cb;
$violet-color: #8e6aa8;
$red-color: #ee5937;
$redhover-color: #cf3f1f;
$yann-color: #F1D47C;
$hover-color: #d8b124;


/* Title Fonts*/
$molle: 'Molle', cursive;
$sacramento: 'Sacramento', cursive;
$amatic: 'Amatic SC', cursive;
$formalscript: 'Petit Formal Script', cursive;
$sunshiney: 'Sunshiney', cursive;
$vibur: 'Vibur', cursive;

/* Text Fonts*/
$comic: 'Comic Neue', cursive;
$dosis: 'Dosis', sans-serif;
$georama: 'Georama', sans-serif;
$baskerville: 'Libre Baskerville', serif;
$montserrat: 'Montserrat', sans-serif;
$prompt: 'Prompt', sans-serif;
$cookie: 'Cookie', cursive;
